.btn-danger{
	background: 0;
	padding: 3px;
	border:solid #FF1919 2px;
	border-radius:2px;
	font-size: 18px;
	color:#FF1919;
	margin:5px;
	transition:border 0.3s;
	transition:color 0.3s;
	transition:background 0.3s;
}
.btn-danger:hover{
	background:#E61616;
	border:solid #E61616 2px;
	color:#fff;
}

.btn-error{
	background: 0;
	padding: 3px;
	border:solid #FFCC00 2px;
	border-radius:2px;
	font-size: 18px;
	color:#FFCC00;
	margin:5px;
	transition:border 0.3s;
	transition:color 0.3s;
	transition:background 0.3s;
}
.btn-error:hover{
	background:#FFCC00;
	border:solid #FFCC00 2px;
	color:#fff;
}

.btn-success{
	background: 0;
	padding: 3px;
	border:solid #33CC33 2px;
	border-radius:2px;
	font-size: 18px;
	color:#33CC33;
	margin:5px;
	transition:border 0.3s;
	transition:color 0.3s;
	transition:background 0.3s;
}
.btn-success:hover{
	background:#2EB82E;
	border:solid #2EB82E 2px;
	color:#fff;
}
.btn-info{
	background: 0;
	padding: 3px;
	border:solid #0066CC 2px;
	border-radius:2px;
	font-size: 18px;
	color:#0066CC;
	margin:5px;
	transition:border 0.3s;
	transition:color 0.3s;
	transition:background 0.3s;
}
.btn-info:hover{
	background:#005CB8;
	border:solid #005CB8 2px;
	color:#fff;
}

/* Link */

.btn-danger a:visited,
.btn-danger a:active,
.btn-danger a:link,
.btn-danger a:hover{
	color:#FF1919;
	text-decoration: none;
}
.btn-error a:visited,
.btn-error a:active,
.btn-error a:link,
.btn-error a:hover{
	color:#FFCC00;
	text-decoration: none;
}
.btn-success a:visited,
.btn-success a:active,
.btn-success a:link,
.btn-success a:hover{
	color:#33CC33;
	text-decoration: none;
}
.btn-info a:visited,
.btn-info a:active,
.btn-info a:link,
.btn-info a:hover{
	color:#0066CC;
	text-decoration: none;
}
.btn-danger:hover a{
	color:#fff;
	text-decoration: none;
}
.btn-error:hover a{
	color:#fff;
	text-decoration: none;
}
.btn-success:hover a{
	color:#fff;
	text-decoration: none;
}
.btn-info:hover a{
	color:#fff;
	text-decoration: none;
}