div.thumb.small{
	width:150px;
	height:90px;
	background:#ccc;
	margin:20px;
	display: inline-block;
	overflow: hidden;
	transition:all 1s;
}
div.thumb.small img{
	width:150px;
	height:90px;
}
div.thumb.small:hover{
	background-color: lightgreen;
	opacity: 0.5;
}
div.thumb.small:hover img{
	/*display:none;*/
}