input.txt-danger{
	border:solid #FF1919 2px;
	border-radius:3px;
	color:#FF1919;
	padding: 4px;
	width:30%;
	height:40px;
	font-size: 20px;
	display: block;
	margin:6px;
}
input.txt-error{
	border:solid #FFCC00 2px;
	border-radius:3px;
	color:#FFCC00;
	padding: 4px;
	width:30%;
	height:40px;
	font-size: 20px;
	display: block;
	margin:6px;
}
input.txt-success{
	border:solid #33CC33 2px;
	border-radius:3px;
	color:#33CC33;
	padding: 4px;
	width:30%;
	height:40px;
	font-size: 20px;
	display: block;
	margin:6px;
}
input.txt-info{
	border:solid #0066CC 2px;
	border-radius:3px;
	color:#0066CC;
	padding: 4px;
	width:30%;
	height:40px;
	font-size: 20px;
	display: block;
	margin:6px;
}
progress {
    background: #e74c3c;
    height: 18px;
}
