/* Including */
@import url(css/button.css);
@import url(css/textinput.css);
@import url(css/panel.css);
@import url(css/jumbo.css);
/* Including ends here!*/
*{
	padding:0;
	margin:0;
	font-family: Poppins;
}
@font-face{
	font-family: MoonLight;
	src:url("font/Moon Light.otf");
}
@font-face{
	font-family: MoonBold;
	src:url("font/Moon Bold.otf");
}
@font-face{
	font-family: Dense;
	src:url("font/Dense-Regular.otf");
}
@font-face{
	font-family: Poppins;
	src:url("font/Poppins-Regular.otf");
}
div.hero{
	height:100vh;
	width:100%;
	background:#F5F5F5;
	position: absolute;
}
div.hero center{
	margin-top: 10vh;
	font-size: 30px;
	color:#000;
	transition:all 1s;
}
div.hero center div.lineTop{
	width:350px;
	height:5px;
	background-color: #000;
	transition:all 1s;
}
div.hero center div.lineBottom{
	margin:10px;
	width:310px;
	height:5px;
	background-color: #000;
	transition:all 1s;
}
div.hero center:hover{
	margin-top: 10vh;
	color:lightgreen;
}
div.hero center:hover div.lineTop{
	width:350px;
	height:5px;
	background-color:lightgreen;
}
div.hero center:hover  div.lineBottom{
	margin:10px;
	width:310px;
	height:5px;
	background-color:lightgreen;
}

div.container {

}
div.one{
	height:100vh;
	width:100%;
	background:#fff;
	margin-top: 100vh;
	position: absolute;
	padding-top: 20px;
}
div.one center{
	padding-top: 20px;
}